<div class="col-md-12">
  <div class="group">
    <%= link_to("New question", new_question_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>

        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td>#</td>
          <td><%= link_to(question.description, question_path(question)) %></td>
          <td><%= question.description %></td>
          <td>
              <%= link_to("Edit", edit_question_path(question), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", question_path(question),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
