<div class="row">
   <div class="col-md-12">

    <h2>完善您的订单 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">您选择的服务套餐</th>
          <th>服务时间</th>
          <th>服务费用</th>
        </tr>
      </thead>
      <tbody>

          <tr>
            <td>
            包年法律咨询服务套餐
            </td>
            <td>
              <%= order.item%>
            </td>
            <td>
              <%= order.total%>RMB
            </td>
          </tr>


      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= order.total %> RMB
      </span>
    </div>

    <hr>

    <h2> 填写您的订单信息（我们会对您的个人信息保密）</h2>

    <div class="order-form">

      <%= simple_form_for @order do |f| %>

          <legend> 用户信息</legend>
          <div class="form-group col-lg-6">
            <%= f.input :billing_name  %>
          </div>
            <legend> 用户联系方式</legend>
          <div class="form-group col-lg-6">
            <%= f.input :billing_address  %>
          </div>


        <div class="checkout">
          <%= f.submit "生成订单", class: "btn btn-lg btn-danger pull-right",
                       data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="">
    <% if !@order.is_paid? %>
    <div class="group pull-right">
      <%= link_to("以支付宝支付", pay_with_alipay_account_order_path, :method => :post, :class => "btn btn-danger") %>
      <%= link_to("以微信支付",pay_with_wechat_account_order_path, :method => :post, :class => "btn btn-danger") %>
    </div>
    <% else %>
      <p class="text-center">您已完成付款</p>
    <% end %>
  </div>
</div>
