<div class="well">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table">
				<thead>
					<tr>
						<th>
							订单编号
						</th>
						<th>
							订单内容
						</th>
						<th>
							订单总价
						</th>
						<th>
							订单创立时间
						</th>
            <th>
							订购人姓名
						</th>
            <th>
							订购人邮箱地址
						</th>
            <th>
							更新时间
						</th>
            <th>
							支付方式
						</th>
            <th>
							支付状态
						</th>
					</tr>
				</thead>
				<tbody>
            <%  @orders.each do |order|%>
					<tr class="success">
            <td><%= order.id%></td>
            <td><%= link_to(order.item, edit_account_order_path(order)) %></td>
            <td><%= order.total%><br>RMB</td>
            <td><%= order.created_at%></td>
            <td><%= order.billing_name %></td>
            <td><%= order.billing_address%></td>
            <td><%= order.updated_at%></td>
            <td><%= order.payment_method%></td>
            <td><% if order.is_paid?%>
            已支付
              <% else %>
            <%= link_to("以支付宝支付", pay_with_alipay_account_order_path(order), :method => :post, class:"btn btn-warning btn-lg") %>
            <%= link_to("以微信支付", pay_with_wechat_account_order_path(order), :method => :post, class:"btn btn-warning btn-lg") %>
              <% end %></td>
					</tr>
            <% end %>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>
