<div class="container-fluid">

    <h2> <small>最后一步</small></h2>


    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="50%">您选择的服务套餐</th>
          <th>服务时间</th>
          <th>服务费用</th>
        </tr>
      </thead>
      <tbody>


          <tr>
            <td>
              <%= @order.item%>服务套餐
            </td>
            <td>
              <%= @order.item%>服务费
            </td>
            <td>
              <%= @order.total%>RMB
            </td>
          </tr>


      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= @order.total %> RMB
      </span>
    </div>

    <hr>

  <h2> <small>请确认您的支付信息</small></h2>

    <div class="order-form">

      <%= simple_form_for [:account,@order] do |f| %>

        <h2> <small></small></h2>
          <div class="form-group col-lg-3">
            <%= f.input :billing_name, label: '姓名：' %>
          </div>
            <legend> </legend>  <h2> <small></small></h2>
          <div class="form-group col-lg-3">
            <%= f.input :billing_address, label: '联系方式：' %>


        <div class="checkout">
          <%= f.submit "生成订单", class:
          "btn  btn-secondary text-uppercase flat animation",
                       data: { disable_with: "请稍候..." } %>




        </div>
      <% end %>




    </div>

  </div>


</div>

</div>
