<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <div class="container">
                <div class="col-md-12 col-lg-offset-2">
                    <div class="login-signup">
                        <div class="row">
                            <div class="col-md-8 nav-tab-holder"></div>
                        </div>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">

                                    <div class="col-md-8 mobile-pull">
                                        <article role="login">
                                            <h3 class="text-center">
                                                <i class="fa fa-btc"></i>   ä¼´å¾‹</h3>

                                            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                            <%= f.error_notification %>

                                            <div class="form-inputs">
                                                <%= f.input :email, label:"ðŸ“®é‚®ç®±" ,required: true, autofocus: true %>
                                                <%= f.input :password,label:"ðŸ”‘å¯†ç ", required: true, hint: ("è‡³å°‘#{@minimum_password_length} ä¸ªå­—ç¬¦" if @minimum_password_length) %>
                                                <%= f.input :password_confirmation,label:"ç¡®è®¤å¯†ç ", required: true %>
                                            </div>

                                            <div class="form-actions">
                                                <%= f.select :role, é€‰æ‹©è§’è‰²: User.roles.keys.to_a %>
                                            </div>
                                            <div class="form-actions">
                                                <%= f.button :submit, "æ³¨å†Œ" %>
                                            </div>
                                            <% end %>

                                            <%= render "devise/shared/links" %>

                                        </body>
                                    </html>
