<h3>客户合同</h3>




<table class="table table-bordered">
  <thead>
      <tr>
        <td>  #</td>
          <td>合同审查需求意见</td>
          <td>客户信息</td>
          <td>创建时间</td>
        <td>下载合同</td>
      </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td>
          <% if document.client_docs.present? %>
          <%= link_to image_tag(document.client_docs[0].preview.url), lawyer_document_path(document) %>
          <% else %>
            该用户尚未上传合同附件
            <% end %>
        </td>
        <td>
          <%= link_to document.description ,account_document_path(document) %>

        </td>
        <td>
          <%= document.user.email %>
        </td>
        <td>
          <%= document.created_at %>

        </td>
        <td>
          <% if document.client_docs.present? %>
          <li><%= link_to "下载合同", document.client_docs[0].url %></li>
          <% else%>
          <li><%= link_to "该客户尚未上传合同", "http://placehold.it/300?text=合同首页" %></li>

          <% end %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>
