<%= simple_form_for  [:account, @question] do |l| %>

<div class="form-group">
    <%= l.input :area, label: '案件类型',collection: [["民事", "民事"],["刑事", "刑事"],["商业", "商业"],["行政", "行政"]],:selected => "民事" %>
    <%= l.input :district, label: '地区',collection: [["北京", "北京"], ["上海", "上海"],["广州", "广州"],["深圳", "深圳"]],:selected => "北京" %>
    <%= l.input :content, label: '问题描述',input_html: { class: "form-control"} %>
    <%= l.input :attachment ,label: '附件' %>


</div>
<%= l.submit "提交", class: "btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交..." } %>
<% end %>
