<div class="col-md-12">

  <!-- <div class="new_question">
   <%= link_to("新问题", new_account_question_path, class: "btn btn-primary pull-right") %>

  </div> -->

  <h4>问题动态</h4>




    <table class="table table-striped">
<!--       <tr>
        <th>问题</th>
      </tr> -->
      <% @questions.each do |question|%>
      
        <% if question.is_answered %>
          <tr class="success">
            <td>
              
              <%= link_to(question.content, account_question_path(question)) %>
            </td>
            <td><span class="glyphicon glyphicon-ok-sign"></span> 已被回答</td>
            <td><%= question.updated_at%></td>
          </tr>
          <% else %>
          <tr class="warning" >
            <td>
              <%= link_to(question.content, account_question_path(question)) %>
            </td>
            <td><span class="glyphicon glyphicon-question-sign"></span> 等待答复</td>
            <td><%= question.updated_at%></td>
          </tr>
        <% end %>

      

      <% end %>
    </table>


</div>
