<div class="container-fluid">

<div class="cardHeightWrap row">

    <% if @questions.blank? %>




      <div class="col-md-4 cold-sm-6 cardHeightWrap">



        <div class="itemCard questionCard animation">



          <div class=""></div>


        <!-- 上边条 -->
        <div class="statusBar">
        </div>
        <!--  -->

        <div class="cardHeading">

          <div class="topHeading">

              <p class="cardTitle questionTitle">您当前还没有提出任何问题</p>




        <div class="questionDate">

        </div>
          <!---wait for refracotring -->

          <!-- 判断回答状态 -->
            <div class="questionStatus-response" >
            <br>
            <br>


          </div>

        </div>
        </div>

        <!-- 链接指定项目 -->
        <a href="<%= new_account_question_path %>">
          <div class="jumbotron" style="line-height: 14em;">
            <div class="container">
            <!-- 临时方案做按钮 -->
              <h5> <br></h5>
              <h1 class="text-center"><span class="glyphicon glyphicon-plus"></span></h1>
              <h3><br></h3>
              <!--  -->
            </div>
          </div>

        </a>
      </div>


      <!--  -->
    </div>





























    <% end %>

      <% @questions.each do |question| %>

      <div class="col-md-4 cold-sm-6 cardHeightWrap">



        <div class="itemCard questionCard animation">


        <!-- 判断附件是否存在 -->
        <% if question.is_answered? %>
          <!-- 上边条 -->
          <div class="statusBar-response"></div>
          <!--  -->
        <!-- 如果无附件 -->
        <% else %>
          <!-- 上边条 -->
          <div class="statusBar-waiting"></div>
          <!--  -->
        <% end %>

        <!-- 上边条 -->
        <div class="statusBar">
        </div>
        <!--  -->

        <div class="cardHeading">

          <div class="topHeading">
            <!-- 判断附件是否存在 -->
            <% if question.attachment.present?%>
              <p class="cardTitle questionTitle"><span class="glyphicon glyphicon-file"></span> 合同</p>
            <!-- 如果无附件 -->
            <% else %>
              <p class="cardTitle questionTitle"><span class="glyphicon glyphicon-question-sign"></span> <%= question.area %></p>
            <% end %>



        <div class="questionDate">
          <%= time_format(question.updated_at) %>
        </div>
          <!---wait for refracotring -->

          <!-- 判断回答状态 -->
          <% if question.is_answered %>
            <div class="questionStatus-response" >
            <br>
            <br>
            <span class="glyphicon glyphicon-ok-sign"></span> 已被回复</td>
            <% else %>
            <div class="questionStatus-waiting">
            <br>
            <br>
            <span class="glyphicon glyphicon-question-sign"></span> 等待答复</td>
            <% end %>
          </div>

        </div>
        </div>

        <!-- 链接指定项目 -->
        <a href="<%= account_question_path(question) %>">
          <div class="card-content" ng-click="qaCtrl.toMain('body')">
            <p class="userQuestion">


            <!-- 判断附件是否存在 -->
            <% if question.attachment.present?%>

              <span>Document<span>
              </br>
                <%= link_to(question.content,account_question_path(question)) %>
              </p>


            <!-- 如果无附件 -->
            <% else %>
              <span>Question<span>
              </br>
                <%= link_to(question.content,account_question_path(question)) %>
              </p>
            <% end %>




          </div>
        </a>
      </div>


      <!--  -->
    </div>
  <% end %>
</div>
</div>
