<div class="clearfix">


<div class="answersHeading col-md-12">
我的回答
</div>

<div class="pull-left col-sm-12 col-md-8">
  <% if @conversations.present? %>
    <% @conversations.each do |c| %>
  <%= link_to account_question_conversation_path(question_id: @question.id,id: c.id) do %>
  <div class= "answeredBy row">

        <!-- 确定回答框基本警告模式 -->


            <div class="clearfix col-md-2">
              <!-- 用户头像 -->

              <%= render_user_small_avatar(c.originator) %>

            </div>
            <div class="answerFrom">
              <% if c.last_sender == current_user %>
                <p class="lawyerName"> <%= c.originator.user_name %></p>
                <p class="answerStatus"> 稍后马上回复你的追问 </p>
              <% else %>
                <p class="lawyerName"> <%= c.originator.user_name %></p>
                  <p class="answerStatus">回答了您的问题 </p>
              <% end %>

                </div>
  <div class="answerArrow"></div>
      </div>
      <% end %>





    <% end %>
  <% else %>
    <div class="alert alert-warning" role="alert">律师们正在紧张的撰写答案...</div>
  <% end %>




<!---please refactsor -->
<div class="answer clearfix">

  <div class="questionLogo"></div>
  <div class="info">
  <!-- 判断存在 -->

  <p><span>姓名:</span><%= current_user.user_name %></p>

  <p><span>日期:</span> <%= @question.updated_at %></p>

  <p><span>领域:</span> <%= @question.area %></p>
  <hr>


  <i class="fa fa-question-circle" aria-hidden="true"></i><span>  您的问题</span>
  <br>

  <div>
  <h5><%= @question.content %></h5>
  </div>


  <!-- f1042-tryAttachmentForMaibox -->
  <% if @question.attachment.questionView.present? %>
    <div>
      <%=  image_tag(@question.attachment.questionView.url)  %>
      <p class="pull-left"><%= @question.attachment.file.filename %></p>
      <% else %>
      <%=  image_tag "http://placehold.it/300?text=您的文件" %>
        </div>
        <div class="download-button"><a href="<%= @question.attachment.url %>" download="" target="_blank">
          <button type="button" class="btn  btn-secondary text-uppercase flat animation pull-left">下载</button>
        </a></div>
      <% end %>
      <!-- f1042-tryAttachmentForMaibox -->




</div>
</div>
