<div class="col-md-12">


  <h4>问题： <%= @question.content %></h4><%= link_to("修改", edit_account_question_path) %>
  <hr>
    <!-- 查看历史信息 -->
    <% if @dialogs.present? %>
      <% @dialogs.each do |d| %>
      <h1><%= d.id %></h1>
      <h1><%= @question.id %></h1>
      <p>
      <%= link_to(d.id,account_question_conversation_path(question_id: @question.id,id: d.id)) %>
      
      </p>

      <% end %>
    <% else %>
      <p>律师们正在紧张的撰写答案</p>
    <% end %>




    <hr>





</div>
