

<div class="row">
  <div class="container">


    	<div class="row well"  style="opacity:0.95;width:80%;">

    <div class="col-md-2">
        <% if !@user.user_avatar.present? %>
        <%= image_tag "http://placehold.it/150x150" %>
    <% else %>
        <%= image_tag (@user.user_avatar.url(:middle)) %>
        <% end %>

    </div>
    <div class="col-md-8 col-md-offset-1">
        <table class="table user-table-info">
            <tbody>
              <tr>
                <h6>我的资料</h6>

              </tr>
              <tr>
                  <td>用户认证</td>
                  <td><%= render_user_vip(@user) %></td>
                  parial
                  <%= render :partial => "user_names", :collection => @user_name, :as => :user_name %>

              </tr>
                <tr>
                    <td>用户名</td>
                    <td><%= @user.user_name %></td>
                    parical2
                    <%= render :partial => "user_names", :collection => @user_name, :as => :user_name %>

                </tr>
                <tr>
                    <td>电子邮件</td>
                    <td><%= @user.email %></td>
                </tr>
                <tr>
                    <td>所在地区</td>
                    <td><%= @user.district %></td>
                </tr>

                <tr>
                    <td>领域</td>
                    <td><%= @user.area %></td>
                </tr>
                <tr>
                    <td>律师事务所</td>
                    <td><%= @user.lawfirm %></td>
                </tr>
                <tr>
                    <td>律师证号</td>
                    <td><%= @user.certificate_number %></td>
                </tr>
                <td>律师证</td>
                <td>

                    <% if !@user.certificate.present? %>
                    <%= image_tag "http://placehold.it/150x150" %>
                <% else %>
                    <%= image_tag(@user.certificate.preview.url) %>
                    <% end %>
                </td>

            </tbody>
        </table>


    <div>
      <%= link_to("完善个人资料", edit_lawyer_user_path(@user), :class => "btn  btn-secondary text-uppercase flat animation") %>
      <%= link_to("修改密码", edit_user_registration_path, class: "btn  btn-secondary text-uppercase flat animation" ) %>

          </div>
        </div>
        </div>
    </div>
  </div>
</div>











    </body>
</html>
