<h2>个人信息</h2>
<table class="table table-boldered">
    <tr>
        <th>用户名</th>
        <th>用户邮箱</th>

        <th>律师事务所</th>
        <th>领域</th>
        <th>城市</th>
        <th>律师证号</th>

    </tr>
    <tr>
      <%= render :partial => "user_names", :collection => @user_name, :as => :user_name %>


        <td><%= @user.email %></td>
        <td><%= @user.lawfirm %></td>
        <td><%= @user.area %></td>
        <td><%= @user.district %></td>
        <td><%= @user.certificate_number %></td>

    </tr>
</table>
