<div class="container">


  <div class="well">
  <div class="container-fluid">
  <div class="row-fluid">
  <div class="span12">
    <table class="table table-bordered">
      <h4><small>订单动态</small></h4>
    	<thead>
<tr>
  <td>ID</td>
  <td>订单内容</td>
  <td>订单总价</td>
  <td>订购人姓名</td>
  <td>订购人邮箱地址</td>
  <td>更新时间</td>
  <td>支付方式</td>
  <td>支付状态</td>
</tr>
    	</thead>
	<tbody>
      <%  @orders.each do |order|%>
      <tr>

            <td><%= order.id%></td>
            <td><%= link_to(order.item,edit_account_order_path(order)) %></td>
            <td><%= order.total%><br>RMB</td>
            <td><%= order.billing_name %></td>
            <td><%= order.billing_address%></td>
            <td><%= order.updated_at%></td>
            <td><%= order.payment_method%></td>
            <td>
              <% if order.is_paid?%>
              已支付
              <% else %>
              未支付
                <% end %>
            </td>
            </tr>
      <% end %>
    </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>
