<h3>反馈合同</h3>

<div class="row">
  <% if @documents.present? %>
      <% @feedbacks.each do |feedback| %>
                  <div class="col-md-3 col-md-3">
                    <div class="thumbnail" style="text-center;">
                    <!-- <% if feedback.client_docs.present? %> -->
                    <%= link_to image_tag(feedback.client_docs[0].preview.url), admin_document_feedbacks_path(feedback) %>
                    <!-- <% else %> -->
                      <!-- <%= link_to image_tag "http://placehold.it/300?text=合同首页" %> -->
                      <!-- <% end %> -->
                    <ul style="list-style: none;">
                    <li>创建时间</li>
                    <li><%= feedback.created_at %></li>
                    <li>提交意见</li>
                    <li><%= feedback.description %></li>
                    <li>客户信息</li>
                    <li><%= feedback.user.user_name%></li>
                    <!-- <% if feedback.client_docs.present? %>
                    <li><%= link_to "下载合同", feedback.client_docs[0].url %></li>
                    <% end %> -->
                    </div>
                  </div>
            <% end %>
        <% end %>
    </div>
