<div class="main-banner">
    <div class="container">
      <h1 class="text-light text-center-sm text-center-xs">价格方案 </h1>
    </div>
  </div>
        <div class="page1">
                <div class="container text-center ">
                    <div class="row">
                        <div class="small-12 medium-12 large-12 columns">
                            <h3>我们一直在这里等你</h3>
                        </div>
                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <%= image_tag "liang1.jpeg", class:"page1png img-responsive img-center" %>
                                <div class="rlHomepageSectionHelpText">
                                    <p>
                                        <strong>梁大锤</strong>
                                    </p>
                                    <p>CTO</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <%= image_tag "liang1.jpeg", class:"page1png img-responsive img-center" %>
                                <div class="rlHomepageSectionHelpText">
                                    <p>
                                        <strong>真轰轰</strong>
                                    </p>
                                    <p>CEO</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <%= image_tag "team-img1.jpg", class:"page1png img-responsive img-center" %>
                                <div class="rlHomepageSectionHelpText">
                                    <p>
                                        <strong>孙菲菲</strong>
                                    </p>
                                    <p>CLO</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <%= image_tag "team-img7.jpg", class:"page1png img-responsive img-center" %>
                                <div class="rlHomepageSectionHelpText">
                                    <p>
                                        <strong>陈小京</strong>
                                    </p>
                                    <p>COO</p>
                                </div>
                            </div>
                        </div>
                        <div class="small-12 medium-12 large-12 columns">
                            <h3>有问题？今天就联系我们吧！</h3>
                            <!-- <%= link_to "联系我们", "#heading-block",class:"btn btn-secondary animation text-uppercase flat"%> -->
                        </div>
                    </div>
                </div>

        </div>


<style>

.page1 {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
}
.page1png {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;

}

</style>
