<!-- Slider Starts -->



  <div id="main-slider" class="carousel slide" data-ride="carousel">
  <!-- Wrapper For Slides Starts -->
    <div class="carousel-inner text-center">
    <!-- Slide #1 Starts -->
      <div class="item active">
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/slider-img2-3f88c49b1a145ef798f5eeb7cf16cb110c9fc7f14aec61b122686f8e3ad714e1.jpg", class:"img-responsive" %>

        <div class="carousel-caption hidden-xs text-right">
          <h2 class="text-thin">终身伴律</h2>
          <h1 class="text-light">为你摆平一切</h1>
          <p>让顶级律师成为你随身的法律顾问 <br>从此法律零门槛 </p>

         <%= link_to "立即咨询", "#heading-block",class:"btn btn-secondary animation text-uppercase flat"%>
        </div>
        <div class="carousel-caption text-left-xs hidden-sm hidden-md hidden-lg">
          <h2 class="text-light">终身伴律</h2>
         <%= link_to "立即向律师提问", "#heading-block",class:"btn btn-secondary animation  flat"%>
         </div>
      </div>
    <!-- Slide #1 Ends -->
    <!-- Slide #2 Starts -->
      <div class="item">
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/slider-img1-5a2374d0e41087e13b30df4fbd265c86822868163e1494de067b1dc9717db1eb.jpg", class:"img-responsive" %>

        <div class="carousel-caption hidden-xs text-right">
          <h2 class="text-center">终身伴律</h2>

          <h1 class="text-light">你的随身法律顾问</h1>
          <p>为你解决一切法律难题<br>告别晦涩难懂</p>

          <!-- <a href="#" class="btn btn-secondary animation text-uppercase flat">立即咨询</a> -->
          <%= link_to "立即咨询", "#heading-block",class:"btn btn-secondary animation text-uppercase flat"%>
        </div>
        <div class="carousel-caption text-left-xs hidden-sm hidden-md hidden-lg">
          <h2 class="text-light">终身伴律</h2>
         <%= link_to "立即向律师提问", "#heading-block",class:"btn btn-secondary animation text-uppercase flat"%>
         </div>
      </div>
    <!-- Slide #2 Ends -->
    </div>
  <!-- Wrapper For Slides Ends -->
  <!-- Controls Starts -->
    <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  <!-- Controls Ends -->
  </div>
<!-- Slider Ends -->
<!-- Intro Section Starts -->
  <section class="intro-home-section">
  <!-- Nested Container Starts -->
    <div class="container-fluid">
    <!-- Nested Row Starts -->
      <div class="row-fluid row-eq-height">
      <!-- Left Col Starts -->
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
              <h4 class="text-uppercase">在线咨询法律问题</h4>
              <p>资深法律专家就在你身边，满足您任何时间任何地点任何不解、疑惑</p>
              <p>直接发问，上千律师在线等。</p>
            </div>
          </div>
        </div>
      <!-- Left Col Ends -->
      <!-- Right Col Starts -->
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
              <h4>在线审核法律文件</h4>
              <p>专业律师为您检查合同文件，为您的权益保驾护航。</p>
              <p>一键上传，静候答复。</p>
            </div>
          </div>
        </div>
      <!-- Right Col Ends -->
      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Intro Section Ends -->
<!-- featureSection Starts -->
		<section class="section-area practice-overview-section parallax text-center-xs">
  <!-- Nested Container Starts -->
    <div class="container">
      <h4 class="text-normal text-center">你的随身法律专家</h4>


    <!-- Nested Row Starts -->
      <ul class="row list-unstyled list-style-2 text-center">
      <!-- Col #1 Starts -->
        <li class="col-md-4  col-sm-12">
          <h6 class="text-normal">快速服务</h6>
          <p><i class="fa fa-question-circle"></i></p>
          <p>24小时内，得到回复</p>
        </li>
      <!-- Col #1 Ends -->
      <!-- Col #2 Starts -->
        <li class="col-md-4  col-sm-12">
          <h6 class="text-normal">隐私保护</h6>
          <p><i class="fa fa-lock" aria-hidden="true"></i></p>
          <p>信息私密，畅所欲言</p>

        </li>
      <!-- Col #2 Ends -->
      <!-- Col #3 Starts -->
        <li class="col-md-4 col-sm-12">
          <h6 class="text-normal">限时免费</h6>
          <p><i class="fa fa-credit-card"></i></p>
          <p>内测期间，免费提问。</p>
 
        </li>

      </ul>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- feature Section Ends -->



<!-- Meet Our clients Starts -->
  <section class="section-area team-section">
  <!-- Nested Container Starts -->
    <div class="container text-center">
      <h3 class="main-heading-1">听听他们怎么说</h3>

    <!-- Team Members Carousel Starts -->
    <br>

      <div id="team-carousel" class="owl-carousel">
      <!-- Team #1 Starts -->
        <div class="team-col animation">
          <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/mastering-bitcoin.jpg", class:"img-responsive img-center" %>

          <div class="team-col-content">
            <h6>孙雁鸣</h6>
            <span class="designation text-light">伴律 &amp; 首席签约律师</span>
            <p> “伴律网让我能更加专注地提供法务咨询，普及法律，用自己的实际行动为全面依法治国的中国梦贡献了自己的心力” </p>

          </div>
        </div>
      <!-- Team #1 Ends -->
      <!-- Team #2 Starts -->
        <div class="team-col animation">
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/team-img2-b7ef01983f3621d707aa3261ae295f0bcb4e0841b03bfbcbb6d85564b1b2388b.jpg", class:"img-responsive img-center" %>
          <div class="team-col-content">
            <h6>黄喵</h6>
            <span class="designation text-light">某知名VC &amp; 投资人</span>
            <p>"感谢伴律， 让我在实现财务自由后，摆脱法律焦虑，安心入睡，实现收钱自由。"</p>

          </div>
        </div>
      <!-- Team #2 Ends -->
      <!-- Team #3 Starts -->
        <div class="team-col animation">
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/team-img3-f3db11029159c18a04ca6a5bba52dddeeabcae31fd1f44d5f529313b99b2b3f5.jpg", class:"img-responsive img-center" %>
          <div class="team-col-content">
            <h6>朱大维</h6>
            <span class="designation text-light"> 新兴科技公司 &amp; 首席执行官</span>
            <p>“伴律网让有了个贴身律师，随时咨询，及时得到专业解答。婚前协议请伴律网的梁律师看了一下，从此可以无顾虑去eatgehter 约饭。”</p>


          </div>
        </div>


      <!-- Team #3 Ends -->
      <!-- Team #4 Starts -->
        <div class="team-col animation">
          <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/team-img4-4aaade29a0cb3f3a4cb086df47ad5f285779ac9ca034c0d1774f406bf7001645.jpg", class:"img-responsive img-center" %>
          <div class="team-col-content">
            <h6>Eve</h6>
            <span class="designation text-light">《北京观察》 &amp; 作家</span>
            <p>"一年的陪伴，从开始完全没有法律意识，到现在没有任何法律困扰，可以说让我省去花费在版权的问题上，之前一直被这个问题困扰，感谢伴律。"</p>


          </div>
        </div>
      <!-- Team #4 Ends -->
      <!-- Team #5 Starts -->
        <div class="team-col animation">
          <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/team-img5-d097a8a5ba68001b92ad8d455dde133f4344eeaea019f314c656a69d0acdde47.jpg", class:"img-responsive img-center" %>
          <div class="team-col-content">
            <h6>黄里昂</h6>
            <span class="designation text-light"> 台北某夜店 &amp; 老板</span>
            <p>"自从有了拥有了伴律，我再也不用担心，涉及的法律问题，可以全身心的投入到工作，大大减少了我的后顾之忧。创造了更大的价值。"</p>


          </div>
        </div>
      <!-- Team #5 Ends -->
      <!-- Team #6 Starts -->
        <div class="team-col animation">
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/team-img6-06041e26f2994fa9dd5b4a082c9f3606c97364a78234e993b75fe0f60b55b91e.jpg", class:"img-responsive img-center" %>
          <div class="team-col-content">
            <h6>秦凤</h6>
            <span class="designation text-light">水果店 &amp; 店主</span>
            <p>”感谢，伴律网让我的水果卖向全世界同时，免去聘请单独法务的顾虑。我跟你讲，你们一定要用我们的服务，啊~ 免安装，一次上线，啊~”</p>


          </div>
        </div>
      <!-- Team #6 Ends -->
      <!-- Team #7 Starts -->
        <div class="team-col animation">
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/team-img7-5c3b3c56c9dccabe67592b1ddebdf09b061b0a7db773bc2bb1e2ce96626d7d08.jpg", class:"img-responsive img-center" %>
          <div class="team-col-content">
            <h6>陈小精</h6>
            <span class="designation text-light">能源公司 &amp; 巨擘</span>
            <p>“伴律网,雄起。”</p>

          </div>
        </div>

      </div>
    <!-- Team Members Carousel Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Meet Our clients Section Ends -->







<!-- Cases Stats Info Section Starts -->
  <section class="section-area cases-stats-info parallax">
  <!-- Nested Container Starts -->
    <div class="container text-center">
    <!-- Nested Row Starts -->
      <div class="row">
      <!-- #1 Starts -->
        <div class="col-md-4 col-sm-12">
          <h2 class="text-light badges-counter">200</h2>
          <h5 class="text-uppercase">份合同已经被审核</h5>
        </div>
      <!-- #1 Ends -->
      <!-- #2 Starts -->
        <div class="col-md-4  col-sm-12">
          <h2 class="text-light badges-counter">500</h2>
          <h5 class="text-uppercase">个问题得到回答</h5>
        </div>
      <!-- #2 Ends -->
      <!-- #3 Starts -->
        <div class="col-md-4 col-sm-12">
          <h2 class="text-light badges-counter">100</h2>
          <h5 class="text-uppercase">名客户满意使用</h5>
        </div>
      <!-- #3 Ends -->

      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Cases Stats Info Section Ends -->









<!-- Free Consultation Section Starts -->
  <section class="section-area silver free-consultation-section text-center-sm text-center-xs">
  <!-- Heading Block Starts -->
    <div class="heading-block col-md-6 col-md-offset-3 col-xs-12 col-lg-12 col-lg-offset-2" id="heading-block">
      <div class="container">
        <h3>现在加入，首问免费</h3>
        <h5 class="sub-heading-1 text-light text-uppercase">越过法律高门槛，我们在你身边</h5>
      </div>
    </div>
  <!-- Heading Block Ends -->
  <!-- Nested Container Starts -->
    <div class="container">
    <!-- Nested Row Starts -->
      <div class="row">
      <!-- Form Starts -->
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <!-- form -->
          <%= simple_form_for  @temp_question,url: get_temp_question_welcome_index_path do |t| %>

          <div class="form-group">
              <%= t.input :content, label: '马上留下你的提问',input_html: {class: "form-control flat", rows:"6", id:"fs-msg",placeholder:"请留下你的问题"}%>
              <%= t.input :email, label: '邮箱',input_html: { class: "form-control"} %>
          </div>
          <%= t.submit "立即拥有私人律师", class: "btn  btn-secondary text-uppercase flat animation", data: { disable_with: "提交..." } %>
          <% end %>

        </div>
      <!-- Form Ends -->
      <!-- Image Block Starts -->

        </div>

      </div>
    <!-- Nested Row Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Free Consultation Section Ends -->
<!-- Clients Carousel Section Starts -->
  <section class="clients-section">
  <!-- Nested Container Starts -->
    <div class="container text-center">
      <h3 class="main-heading-1 light">媒体见证</h3>
    <!-- Carousel Starts -->
      <div id="clients-carousel" class="owl-carousel">
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/clients-carousel-img2-7b8bff404e8ada5af6a204f6af9de4713a63b3c480fa5713f77efb8b0fe3350e.png", class:"img-responsive img-center" %>
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/clients-carousel-img5-1939b443b58195067bde25f1252756250c1c0e7163f680597ae237ca989d42e3.png", class:"img-responsive img-center" %>
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/clients-carousel-img3-3b7af2338a4ceb67753cb5eccbe0bf1e62f8d1d8619bd5d57a539e9aa6e2bc52.png", class:"img-responsive img-center" %>
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/clients-carousel-img4-c04a8528c0ff80aa8112121038a54a6c5cc85efc4f0da8c0bc14511171e80aa2.png", class:"img-responsive img-center" %>
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/clients-carousel-img6-787d824c23ebdab7e71f29a848268ca97606c10de9a312704d4c8e7e1117878a.png", class:"img-responsive img-center" %>
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/clients-carousel-img1-019221e74dab0fb029b38815f959dc9a1dcd117b16bff3f51536bb6f398756a0.png", class:"img-responsive img-center" %>
        <%= image_tag "http://ohjgz7qhu.bkt.clouddn.com/clients-carousel-img7-3ff109c14b806488613dac7bc331b0a1fee390aa7f88e4c22bff6d2de7c810bd.png", class:"img-responsive img-center" %>
      </div>
    <!-- Carousel Ends -->
    </div>
  <!-- Nested Container Ends -->
  </section>
<!-- Clients Carousel Section Ends -->
