    <div class="container-fluid well">




            <!-- major photo -->
            <div class="col-md-2">
                <br>
                <%= render_user_avatar(@user) %>
            </div>

            <!-- title, description and add to cart -->
            <div class="col-md-4 col-md-offset-1">
                <h3>
                    <h6>我的资料</h6>
                </h3>
                <table class="table">
                    <tr>
                        <td>用户名</td>
                        <td>  <%= render :partial => "common/user_name", :locals =>{:user => @user} %></td>
                    </tr>
                    <tr>
                        <td>电子邮件</td>
                        <td>  <%= @user.email %></td>
                    </tr>
                    <tr>
                        <td>所在地区</td>
                        <td>  <%= @user.district %></td>
                    </tr>
                </table>


                    <%= link_to("修改个人资料", edit_account_user_path(@user), :class => "btn  btn-secondary text-uppercase flat animation") %>



                    <%= link_to("修改密码", edit_user_registration_path(@user), class: "btn  btn-secondary text-uppercase flat animation" ) %>
               
            </div>

        </div>
