<h2>我的资料</h2>
<div class="row">
  <div class="col-md-8">
    <table class="table user-table-info">
      <tbody>
        <th>
          <td>用户名</td>
          <td>电子邮件</td>
          <td>所在地区</td>
          <td>领域</td>
        </th>
        <tr>
          <td><%= @user.user_name %></td>
          <td><%= @user.email %></td>
          <td><%= @user.district %></td>
          <td><%= @user.area %></td>
        </tr>
      </tbody>
    </table>

    <div>
      <%= link_to（"修改用户信息", edit_account_user_path(@user), class:"btn btn-sm btn-default") %>
      <%= link_to（"修改密码", edit_account_user_path(@user), class:"btn btn-sm btn-default") %>

    </div>
  </div>

</div>
