<div class="container-fluid" style="background:url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-103295.jpg); background-size: 100%;background-repeat: repeat-y;min-height:900px;">

    <div class="container">

        <div class="row well" style="opacity:0.95;width:70%;">

            <!-- major photo -->
            <div class="col-md-2">
                <br>
                <%= render_user_avatar(@user) %>
                <div style="letter-spacing: -4px"></div>
            </div>

            <!-- title, description and add to cart -->
            <div class="col-md-4 col-md-offset-1">
                <h3>
                    <h4>我的资料</h4>
                </h3>
                <br>
                <td>用户认证</td>
                <td><%= render_user_vip(@user) %></td>
                <br>

                <p style="color: green">
                    <td>用户名</td>
                    <td><%= @user.user_name %></td>
                </p>
                <p>
                    <td>电子邮件</td>
                    <td><%= @user.email %></td>
                </p>
                <p>
                    <td><h6>所在地区</h6>
                    <%= @user.district %></td>
                </p>

                <div>
                    <%= link_to("修改个人资料", edit_account_user_path(@user), :class => "btn  btn-secondary text-uppercase flat animation") %>
                    <%= link_to("修改密码", "#", class: "btn  btn-secondary text-uppercase flat animation" ) %>

                </div>
            </div>


                </div>
            </div>
        </div>
