
    <div class="container">

        <div class="row well" style="opacity:0.95;width:70%;">

            <!-- major photo -->
            <div class="col-md-2">
                <br>
                <%= render_user_avatar(@user) %>


<<<<<<< HEAD
                <div style="letter-spacing: -4px"></div>
=======
>>>>>>> 9b31d226071485e5e287d1b03ebce3542076ccf1

            </div>

            <!-- title, description and add to cart -->
            <div class="col-md-4 col-md-offset-1">
                <h3>
                    <h6>我的资料</h6>
                </h3>

<<<<<<< HEAD
=======
                <p>用户认证： <%= render_user_vip(@user) %></p>

                    <p>用户名： <%= @user.user_name %></p>
>>>>>>> 9b31d226071485e5e287d1b03ebce3542076ccf1

                <p>用户认证： <%= render_user_vip(@user) %></p>

<<<<<<< HEAD
                <p style="color: green">
=======
                    <p>电子邮件： <%= @user.email %></p>

                <p>
>>>>>>> 9b31d226071485e5e287d1b03ebce3542076ccf1
                    <td>用户名：</td>
                    <td><%= @user.user_name %></td>
                </p>
                <p>
                    <td>电子邮件：   </td>
                    <td><%= @user.email %></td>
                </p>
<<<<<<< HEAD
                <p style="color: green">
                    <td>所在地区： </td>
                    <td><%= @user.district %></td>
                </p>
                <div class="">
                  <td><%= link_to("  订单管理", account_orders_path , class: "btn  btn-secondary text-uppercase flat animation" )%></td>
                  <br>
                    <br>
                      <br>
                        <br>
                </div>
<br>



                
=======
                    <p>所在地区：<%= @user.district %></p>
>>>>>>> 9b31d226071485e5e287d1b03ebce3542076ccf1
                    <br>
                <div>
                    <%= link_to("修改个人资料", edit_account_user_path(@user), :class => "btn  btn-secondary text-uppercase flat animation") %>
                  </div>
                  <br>
                  <div>
                    <%= link_to("修改密码", "#", class: "btn  btn-secondary text-uppercase flat animation" ) %>
                </div>
            </div>


                </div>
            </div>
        </div>
