<h2>我的资料</h2>
<div class="row">
  <div class="col-md-2">
    <% if !@user.avatar.present?%>
    <%= gravatar_tag @user, size: 150, default:"https://lawfarm.in/assets/default-avatar-5d4b45229945743d7dc271ea4e18ce9aadf97b531530a5707204f363fadeeb54.png" %>
    <% else %>
    <% image_tag @user.avatar.middle %>
    <% end %>

  </div>
  <div class="col-md-8">
    <table class="table user-table-info">
      <tbody>
         <tr>
            <td>用户名</td>
              <td><%= @user.user_name %></td>
         </tr>
         <tr>
          <td>电子邮件</td>
          <td><%= @user.email %></td>
           </tr>
           <tr>
          <td>所在地区</td>
            <td><%= @user.district %></td>
          </tr>
           <tr>
          <td>领域</td>
          <td>
          <td><%= @user.area %></td>
          </td>
        </tr>

      </tbody>
    </table>

    <div>
      <%= link_to("修改个人资料", edit_account_user_path(@user), :class => "btn btn-sm btn-default") %>
      <%= link_to("修改密码", "#", class: "btn btn-sm btn-default" ) %>

    </div>
  </div>

</div>
