  <!-- 律师端历史消息 -->
    <% if @messages.present? %>
      <% @messages.each do |m| %>

      <h6 class="text-center"><small><em> — <%= time_format(m.created_at) %> — </em></small></h6>

        <!-- 历史消息 -->
        <% if m.sender == current_user %>
          <!-- 律师对话样式 -->
          <blockquote class="blockquote-reverse">
            <div class="media">
              <div class="media-body">
                <h3 class="media-heading">我</h3>
                <h5><%= simple_format(m.body) %></h5>

               

                <!-- 附件显示（当前上传pdf有问题） -->
                <% if m.attachment.present? %>

                  <div class="pull-right">
                  
                    <%= image_tag(m.attachment.url, class: "thumbnail") %>
                    <p class="pull-left"><%= m.attachment.file.filename %></p>

                    <a href="<%= m.attachment.url %>" download="" target="_blank">
                      <button type="button" class="btn btn-primary btn-xs pull-right">下载</button>
                    </a>
                  </div>
                
                <% end %>
                <!-- 附件显示（当前上传pdf有问题） -->




              </div>
              <a class="media-right" href="#">
                <!-- 用户头像 -->
                <%= render(partial: "common/user_img",locals: {user: current_user}) %>  
                <!-- 用户头像 -->
              </a>
            </div>
          </blockquote>






        <!-- 律师端的评价系统 -->

          <!-- <hr> -->
          <p class="text-center">
            <!-- 如果已评分，则显示评分 -->
            <% if m.rating.present? %>
              <div id="raty-for-message-<%= m.id %>" class="text-center"></div>
            <% end %>
          </p>

          <hr>

          <script>
          $(function() {

            // 允许评分的对象
            var ratableObj = $('#rating-for-message-<%= m.id %>');
            initRating(ratableObj);
            // 已经评过分的对象
            var unRatableObj = $('#raty-for-message-<%= m.id %>');
            lockRating(unRatableObj,'<%= m.rating %>');


            // 初始化rating选框
            function initRating(obj) {
              obj.raty({
                path:"/",
                starOff: 'star-off.png',
                starOn: 'star-on.png',
                size: 32,
                click: function(score, evt) {
                  // ajax提交
                  ajaxRating(score);
                  // 锁定rating
                  lockRating(ratableObj,score)
                }
              });
            }



            // ajax提交评级
            function ajaxRating(score) {
              $.ajax({
                url: '<%= rating_account_questions_path %>',
                type: 'POST',
                dataType: 'json',
                data: {
                  'conversation_id' : <%= @conversation.id %>,
                  'message_id' : <%= m.id %>,
                  'rating': score
                },
              })
              .done(function() {
                console.log("raty success");
              })
              .fail(function() {
                console.log("raty error");
              })
              .always(function() {
                console.log("raty complete");
              });
            }




            // 锁定星星不可重新提交
            function lockRating(obj,score) {
              // 锁定部分样式
              obj.raty({ 
                path:"/",
                starOff: 'star-off.png',
                starOn: 'star-on.png',
                size: 32,
                readOnly: true, score: score
              });
            }

   
          });
          </script>
          
          <!-- 律师端的评价系统 -->




















        <% else %>
          <!-- 用户的对话样式 -->
          <blockquote>
            <div class="media">
              <a class="media-left" href="#">
                <!-- 用户头像 -->
                <%= render(partial: "common/user_img",locals: {user: m.sender}) %>  
                <!-- 用户头像 -->
              </a>
              <div class="media-body">
                <% if m.sender.user_name.present? %>
                  <h3 class="media-heading"><%= m.sender.user_name %></h3>
                <% else %>
                  <h3 class="media-heading">客户</h3>
                <% end %>
                <h5><%= simple_format(m.body) %></h5>





                <!-- 附件显示（当前上传pdf有问题） -->
                <% if m.attachment.present? %>

                  <div class="pull-left">
                  
                    <%= image_tag(m.attachment.url, class: "thumbnail") %>
                    <p class="pull-left"><%= m.attachment.file.filename %></p>

                    <a href="<%= m.attachment.url %>" download="" target="_blank">
                      <button type="button" class="btn btn-primary btn-xs pull-right">下载</button>
                    </a>
                  </div>
                
                <% end %>
                <!-- 附件显示（当前上传pdf有问题） -->









              </div>
            </div>
          </blockquote>

        <% end %>
        <!-- 历史消息 -->



      <% end %>
    <% end %>   





