<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb">
      <li class="active">
          <%= link_to("最新问题", admin_questions_path) %>
      </li>
      <li>
        <%= link_to("按地域分类", lawyer_questions_path(:order => "by_district")) %>
      </li>
      <li>
        <%= link_to("按领域分类", lawyer_questions_path(:order => "by_area")) %>
      </li>

    </ul>
    <table class="table table-bordered table-condensed table-hover">

      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
          领域
          </th>
          <th>
            地域
          </th>
          <th>
            问题缩略
          </th>
          <th>
            更新时间
          </th>
          <th>
            处理状态
          </th>
        </tr>
      </thead>

          <% @questions.each do |question|%>

        <tr>
            <td><%= link_to(question.id,lawyer_question_path(question)) %></td>
            <td><%= question.area %></td>
            <td><%= question.district %></td>
            <td><%= question.content.first(8) %></td>
            <td><%= question.updated_at %></td>
          <td>
            Default
          </td>
          <% end %>
        </tr>
</table>
</div>
      </div>
