<div class="row">
  <div class="container">

  <div class="container-fluid" style="background:url(https://ooo.0o0.ooo/2016/11/24/583691e5c2104.jpg); background-size: 85%;background-repeat: repeat-y;min-height:500px;">

    	<div class="row well"  style="opacity:0.95;width:80%;">

<div class="row-fluid">
  <div class="span12">

    <table class="table table-bordered table-condensed table-hover">

      <thead>
        <tr>
          <th>
          用户信息
          </th>
          <th>
          问题领域
          </th>
          <th>
            所在地域
          </th>
          <th>
            问题缩略
          </th>
          <th>
            更新时间
          </th>
          <th>
            问题编号
          </th>
        </tr>
      </thead>

          <% @questions.each do |question|%>

        <tr>
            <td><%= question.user.email %></td>
            <td><%= question.area %></td>
            <td><%= question.district %></td>
            <td><%= link_to(question.content.first(8),lawyer_question_path(question)) %></td>
            <td><%= question.updated_at %></td>
            <td><%= link_to(question.id,lawyer_question_path(question)) %></td>
          <% end %>
        </tr>
</table>
</div>
      </div>
    </div>
  </div>
