<div class="col-md-12">

  <!-- 客户问题 -->
  <h4>问题： <%= @question.content %></h4>
  <h6>领域： <%= @question.area %></h6>
  <h6>地区： <%= @question.district %></h6>
  <hr>

  <!-- 历史消息 -->
  <%= render 'history_messages' %>



  <!-- 如果最后一条是自己的留言，则不让再追答 -->
  <% if i_send_last_message(@messages) %>
    <div class="alert alert-success text-center" role="alert">已回复</div>
    <!-- 如果没人回答，可以回答 -->
  <% else %>
    <!-- 律师回答表单 -->
    <%= render 'form_for_lawyer' %>
  <% end %>




</div>
