<div class="row">
  <div class="container">

  <div class="container-fluid" style="background:url(https://ooo.0o0.ooo/2016/11/24/583691e5c2104.jpg); background-size: 85%;background-repeat: repeat-y;min-height:500px;">

    	<div class="row well"  style="opacity:0.95;width:80%;">

<div class="col-md-12">

  <!-- 客户问题 -->
  <h4>问题： <%= @question.content %></h4>
  <h6>领域： <%= @question.area %></h6>
  <!-- <h6>地区： <%#= @question.district %></h6> -->

  <!-- 附件显示预览 -->
  <% if @question.attachment.present? %>
    <div>
      <%= image_tag(@question.attachment.url, class: "thumbnail") %>
      <p class="pull-left"><%= @question.attachment.file.filename %></p>

      <a href="<%= @question.attachment.url %>" download="" target="_blank">
        <button type="button" class="btn  btn-secondary text-uppercase flat animation pull-right">下载</button>
      </a>
    </div>
  <% end %>
  <!-- 附件显示预览 -->

  <br>

  <hr>

  <!-- 历史消息 -->
  <%= render 'history_messages' %>



  <!-- 如果最后一条是自己的留言，则不让再追答 -->
  <% if i_send_last_message(@messages) %>
    <div class="alert alert-success text-center" role="alert">已回复</div>
    <!-- 如果没人回答，可以回答 -->
  <% else %>
    <!-- 律师回答表单 -->
    <%= render 'form_for_lawyer' %>
  <% end %>



</div>
</div>

</div>
