<!-- 追问框-->
<div class="panel panel-default row">

  <a data-toggle="collapse" href="#new-question" aria-expanded="true" aria-controls="new-question">
    <div class="panel-heading" >
      <h4 class="panel-title">

        <p class="col-md-8">追问...</p>
        <div class="col-md-4">
          <span id="collapse-answer" class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>

      </h4>
    </div>
  </a>
  <div id="new-question" class="panel-collapse collapse" >
    <div class="panel-body">


      <!-- 普通用户表单 -->
      <!-- 如果有了新的律师回答，则可以追问 -->
      <%= simple_form_for @new_answer ,url: account_question_conversations_path(@question) do |a| %>
      <% if @conversation.present? %>
      <!-- <h1>对话id:<%#= @conversation.id %></h1> -->
      <!-- 隐藏提交当前会话id -->

      <%= a.input :conversation_id, :as => :hidden, :input_html => { :value => @conversation.id } %>

      <% end %>

      <div class="form-group">

          <%= a.input :content, label: false,input_html: { class: "form-control",rows: "15"} %>


      </div>
      <div class="form-group">
            <%= a.input :attachment ,label: '附件'%>
      </div>

      <%= a.submit "提交", class: "btn  btn-secondary text-uppercase flat animation col-md-12", data: { disable_with: "提交..." } %>
      <% end %>

 
      <!--  -->


    </div>
  </div>
</div>




    <!-- 收放按钮 -->
    <script>
      $('#new-question').on('show.bs.collapse', function () {
        $('#collapse-answer').removeClass("glyphicon-chevron-down");// 执行一些动作...
        $('#collapse-answer').addClass("glyphicon-chevron-up");
      });
      $('#new-question').on('hide.bs.collapse', function () {
        $('#collapse-answer').removeClass("glyphicon-chevron-up");// 执行一些动作...
        $('#collapse-answer').addClass("glyphicon-chevron-down");
      })
    </script>
    <!--  -->
