    <!-- 引入评级插件 -->
    <link rel="stylesheet" href="http://o7m541j22.bkt.clouddn.com/jquery.raty.css">
    <script src="http://o7m541j22.bkt.clouddn.com/jquery.raty.js"></script>


    <!-- 用户端历史信息 -->
    <%  @conversation.id %>
    <!-- 查看历史信息 -->
    <% if @messages.present? %>
      <% @messages.each do |m| %>

      <h6 class="text-center"><small><em> — <%= time_format(m.created_at) %> — </em></small></h6>

        <!-- 历史消息 -->
        <% if m.sender == current_user %>
          <!-- 当前用户的对话样式 -->
          <blockquote class="blockquote-reverse">
            <div class="media">

              <div class="media-body">
                <h3 class="media-heading">我</h3>
                <h5><%= simple_format(m.body) %></h5>

                <!-- 附件显示（当前上传pdf有问题） -->
                <% if m.attachment.present? %>

                  <div class="pull-right">

                    <%= image_tag(m.attachment.url, class: "thumbnail") %>
                    <p class="pull-left"><%= m.attachment.file.filename %></p>

                    <a href="<%= m.attachment.url %>" download="" target="_blank">
                      <button type="button" class="bbtn  btn-secondary text-uppercase flat animation">下载</button>
                    </a>
                  </div>

                <% end %>
                <!-- 附件显示（当前上传pdf有问题） -->


              </div>

              <a class="media-right" href="#">
                <!-- 用户头像 -->
                <%= render(partial: "common/user_img",locals: {user: current_user}) %>
                <!-- 用户头像 -->
              </a>


            </div>
          </blockquote>
        <% else %>
          <!-- 律师对话样式 -->
          <blockquote>
            <div class="media">

              <a class="media-left" href="#">
                <!-- 用户头像 -->
                <%= render(partial: "common/user_img",locals: {user: m.sender}) %>
                <!-- 用户头像 -->
              </a>

              <div class="media-body">
                <h3 class="media-heading"><%= m.sender.user_name %></h3>
                <h5><%= simple_format(m.body) %></h5>


                <!-- 附件显示（当前上传pdf有问题） -->
                <% if m.attachment.present? %>

                  <div class="pull-left">

                    <%= image_tag(m.attachment.url, class: "thumbnail") %>
                    <p class="pull-left"><%= m.attachment.file.filename %></p>

                    <a href="<%= m.attachment.url %>" download="" target="_blank">
                      <button type="button" class="btn  btn-secondary text-uppercase flat animation">下载</button>
                    </a>
                  </div>

                <% end %>
                <!-- 附件显示（当前上传pdf有问题） -->








              </div>

            </div>
          </blockquote>





        <!-- 律师端的评价系统 -->

          <!-- <hr> -->
          <p class="text-center">
            <!-- 如果未评分，则允许评分 -->
            <% if m.rating.blank? %>
              <div id="rating-for-message-<%= m.id %>" class="text-center"></div>
            <!-- 如果评过分，则锁定 -->
            <% else %>
              <div id="raty-for-message-<%= m.id %>" class="text-center"></div>
            <% end %>
          </p>

          <hr>


          <script>
          $(function() {




            // 初始化rating选框
            function initRating(obj) {
              obj.raty({
                path:"/",
                starOff: 'star-off.png',
                starOn: 'star-on.png',
                size: 32,
                click: function(score, evt) {
                  // ajax提交
                  ajaxRating(score);
                  // 锁定rating
                  lockRating(obj,score)
                }
              });
            };



            // ajax提交评级
            function ajaxRating(score) {
              $.ajax({
                url: '<%= rating_account_questions_path %>',
                type: 'POST',
                dataType: 'json',
                data: {
                  'conversation_id' : <%= @conversation.id %>,
                  'message_id' : <%= m.id %>,
                  'rating': score
                },
              })
              .done(function() {
                console.log("raty success");
              })
              .fail(function() {
                console.log("raty error");
              })
              .always(function() {
                console.log("raty complete");
              });
            };




            // 锁定星星不可重新提交
            function lockRating(obj,score) {
              // 锁定部分样式
              obj.raty({
                path:"/",
                starOff: 'star-off.png',
                starOn: 'star-on.png',
                size: 32,
                readOnly: true, score: score
              });
            };





            // 允许评分的对象
            var ratableObj = $('#rating-for-message-<%= m.id %>');
            initRating(ratableObj);
            // 已经评过分的对象
            var unRatableObj = $('#raty-for-message-<%= m.id %>');
            lockRating(unRatableObj,'<%= m.rating %>');





          });
          </script>

          <!-- 律师端的评价系统 -->









        <% end %>
      <% end %>
      <!-- 历史消息 -->
    <% end %>
