

<div class="pull-left col-sm-12 col-md-8">

<%= link_to :back %>
<div class= "answeredBy row">

      <!-- 确定回答框基本警告模式 -->


          <div class="clearfix col-md-2">
            <!-- 用户头像 -->

            <%= render_user_small_avatar(@conversation.originator) %>

          </div>
          <div class="answerFrom">
              <p class="lawyerName"> <%= @conversation.originator.user_name %></p>
                <p class="answerStatus">回答了您的问题 </p>
              </div>

    </div>





<div class="col-md-12">

  <!-- 客户问题 -->
  <h4>问题： <%= @question.content %></h4>
  <h6>领域： <%= @question.area %></h6>
  <!-- <h6>地区： <%#= @question.district %></h6> -->
  <hr>

  <!-- 历史消息 -->
  <%= render 'history_messages' %>

  <!-- 如果最后一条是自己的留言，则不让再追问 -->
  <% if i_send_last_message(@messages) %>
    <div class="alert alert-success text-center" role="alert">正在等待律师的回答...</div>
  <% else %>
    <!-- 用户追问栏 -->
    <%= render 'form_for_client' %>
  <% end %>



</div>
</div>
