

<div class="pull-left col-sm-12 col-md-8">

<%= link_to :back %>
<div class= "answeredBy row">

      <!-- 确定回答框基本警告模式 -->


          <div class="clearfix col-md-2">
            <!-- 用户头像 -->

            <%= render_user_small_avatar(@conversation.originator) %>

          </div>
          <div class="answerFrom">
              <p class="lawyerName"> <%= @conversation.originator.user_name %></p>
                <p class="answerStatus">回答了您的问题 </p>
              </div>

    </div>



    <div class="answer">
      <div class="questionLogo"></div>

      <!-- 用户端历史信息 -->
      <%  @conversation.id %>
      <!-- 查看历史信息 -->
      <% if @messages.present? %>
        <% @messages.each do |m| %>

        <h6 class="text-center"><small><em> — <%= time_format(m.created_at) %> — </em></small></h6>

          <!-- 历史消息 -->
          <% if m.sender == current_user %>
            <!-- 当前用户的对话样式 -->
            <blockquote class="blockquote-reverse">
              <div class="media">

                <div class="media-body">
                  <h3 class="media-heading">我</h3>
                  <h5><%= simple_format(m.body) %></h5>

                  <!-- 附件显示（当前上传pdf有问题） -->
                  <% if m.attachment.present? %>

                    <div class="pull-right">

                      <%= image_tag(m.attachment.url, class: "thumbnail") %>
                      <p class="pull-left"><%= m.attachment.file.filename %></p>

                      <a href="<%= m.attachment.url %>" download="" target="_blank">
                        <button type="button" class="btn btn-primary btn-xs pull-right">下载</button>
                      </a>
                    </div>

                  <% end %>
                  <% end %>
                  <% end %>
                  <% end %>
                  <!-- 附件显示（当前上传pdf有问题） -->






    </div>





<div class="col-md-12">

  <!-- 客户问题 -->
  <h4>问题： <%= @question.content %></h4>
  <h6>领域： <%= @question.area %></h6>

  <!-- 附件显示预览 -->
  <div>
  <% if @question.attachment.present? %>
    <%= image_tag(@question.attachment.url, class: "thumbnail") %>
    <p class="pull-left"><%= @question.attachment.file.filename %></p>

    <a href="<%= @question.attachment.url %>" download="" target="_blank">
      <button type="button" class="btn btn-primary btn-xs pull-right">下载</button>
    </a>
    <% end %>
  </div>
  <!-- 附件显示预览 -->
  <br>

  <hr>

  <!-- 历史消息 -->
  <%= render 'history_messages' %>

  <!-- 如果最后一条是自己的留言，则不让再追问 -->
  <% if i_send_last_message(@messages) %>
    <div class="alert alert-success text-center" role="alert">正在等待律师的回答...</div>
  <% else %>
    <!-- 用户追问栏 -->
    <%= render 'form_for_client' %>
  <% end %>



</div>
</div>
