<!-- <div class="col-md-12">

  <h4>最新动态</h4>

    <table class="table table-striped">

      <% @questions.each do |question|%>
      <tr>
        <td><%= link_to(question.content, admin_question_path(question)) %></td>
        <td><%= question.updated_at %></td>
      </tr>

      <% end %>
    </table>


</div> -->
<div class="row">
  <div class="container">


    <div class="row well"  style="opacity:0.95;width:80%;">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
        <li class="active">
            <%= link_to("最新问题", admin_questions_path) %>
        </li>
        <li>
          <%= link_to("地域分类", admin_questions_path(:order => "by_district")) %>
        </li>
        <li>
          <%= link_to("领域分类", admin_questions_path(:order => "by_area")) %>
        </li>


			</ul>
			<table class="table table-bordered table-condensed table-hover">

				<thead>
					<tr>
						<th>
							#
						</th>
            <th>
            领域
            </th>
            <th>
              地域
            </th>
						<th>
							问题缩略
						</th>
            <th>
              更新时间
            </th>

					</tr>
				</thead>

            <% @questions.each do |question|%>
					<tr>
						  <td><%= link_to(question.id,admin_question_path(question)) %></td>
							<td><%= question.area %></td>
              <td><%= question.district %></td>
							<td><%= question.content.first(8) %></td>
              <td><%= question.updated_at %></td>

            <% end %>
					</tr>
</table>
</div>
        </div>
</div>
</div>
</div>
<p style="padding:300px;"></p>
<!--此行代码解决页面中footer在上面的问题  -->
