<!DOCTYPE html>
<html lang="en">
  <body>
<div class="container">
 <div class="container">
  <div class="col-md-12 col-lg-offset-2">
   <div class="login-signup">
     <div class="row">
        <div class="col-md-8 nav-tab-holder"></div>
     </div>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">

                                    <div class="col-md-8 mobile-pull">
                                        <article role="login">
                                            <h3 class="text-center">
                                                <i class="fa fa-btc"></i>  伴律</h3>

                                                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                                <div class="form-inputs">
                                                    <%= f.input :email, label: "邮箱",required: false, autofocus: true %>
                                                    <%= f.input :password,label: "密码", required: false %>
                                                    <%= f.input :remember_me,label:"记住密码" ,as: :boolean if devise_mapping.rememberable? %>
                                                </div>
                                                <div class="form-actions">
                                                    <%= f.button :submit, "登入" %>
                                                </div>
                                                <% end %>

                                                <%= render "devise/shared/links" %>

                                        </body>
                                    </html>
