<!-- 判断行样式 -->
<% if user.is_vip %>
<tr class="bg-success">    
<% else %>
<tr>
<% end %>

    <td>
        <%= user.id %>

    </td>
    <td>
        <%if !user.is_admin?%>
        <%  if user.is_lawyer?%>
        <%=  content_tag(:span,"",class:"fa fa-user-plus")%>
    <%   else%>
        <%=   content_tag(:span, "", class: "fa fa-user")%>
        <%   end%>
    <% else%>
        <%= content_tag(:span,"",class:"fa fa-star-o")%>
        <%end%>

        <%= user.user_name%>
        <%if !user.is_vip?%>
        <%= content_tag(:span,"", class:"fa fa-opera")%>
        <%else%>
        <%= content_tag(:span,"", class:"fa fa-vimeo")%>
        <%end%>
    </td>

    <td><%= link_to user.email,admin_user_path(user),method: :get%></td>

    <td>

    <!-- 按钮 -->
    <%= chenge_user_vip(user) %>

    <!-- 判断是否是vip -->
    <% if user.is_vip %>
        <% if user.role == "律师" %>
            已认证律师
        <% elsif user.role == "用户" %>
            付费用户
        <% end %>
    <!-- 不是vip的话设置个按钮 -->
    <% else %>
        <% if user.role == "律师" %>
            未认证律师
        <% elsif user.role == "用户" %>
            免费用户
        <% end %>
    <% end %>



    </td>

    <td>
        <% if user.is_vip?%>
        支付成功
    <% else %>
        <p>
            未支付</p>
        <% end %>
    </td>

</tr>