
<header class="main-header">
<!-- Nested Container Starts -->
  <div class="container">
  <!-- Nested Row Starts -->
    <div class="row">
    <!-- Logo Starts -->
      <div class="col-md-3 col-sm-4 col-xs-12">


        <%=link_to(image_tag("/images/logo.png",alt:"Law Attorney", class:"img-responsive img-center-xs logo"),root_path)%>
      </div>
    <!-- Logo Ends -->
    <!-- Right Col Starts -->
      <div class="col-md-9 col-sm-8 col-xs-12 hidden-xs">
      <!-- Header Links Starts -->
        <ul class="list-unstyled list-inline header-links text-right-lg text-right-md text-right-sm text-center-xs text-light">
          <li><%= link_to("价格方案",pricing_welcome_index_path) %></li>


          <li><a href="#">加入我们</a></li>
          <li><a href="#">关于我们</a></li>
          <li><a href="#">用户指南</a>
          <!-- <li><a href="#">Team Members</a></li> -->
        </ul>
      <!-- Header Links Ends -->
      <!-- Starts -->
        <ul class="list-unstyled list-inline header-info text-center-xs pull-right-lg pull-right-md pull-right-sm">
          <li class="hidden-sm"><a href="#" class="btn btn-secondary text-uppercase animation flat"><i class="fa fa-comments"></i> 24小时在线客服</a></li>
          <li class="clearfix">
            <i class="fa fa-map-marker pull-left"></i>
            <span class="pull-left">
              <h6>建外 SOHO </h6>
                中国北京朝阳区
            </span>
          </li>
          <li class="clearfix">
            <i class="fa fa-phone pull-left"></i>
            <span class="pull-left">
              <h6>400 345 678 9630</h6>
              免费咨询电话
            </span>
          </li>
        </ul>
      <!-- Ends -->
      </div>
    <!-- Right Col Ends -->
    </div>
  <!-- Nested Row Ends -->
  </div>
<!-- Nested Container Ends -->
</header>
<!-- Main Header Ends -->
<!-- Main Menu Starts -->
<nav id="nav" class="main-menu navbar flat">
<!-- Nested Container Starts -->
  <div class="container">
  <!-- Nav Header Starts -->
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar navbar-toggle flat animation" data-toggle="collapse" data-target=".navbar-cat-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <i class="fa fa-bars"></i>
      </button>
    </div>
  <!-- Nav Header Ends -->
  <!-- Navbar Cat collapse Starts -->
    <div class="collapse navbar-collapse navbar-cat-collapse animation">
      <ul class="nav navbar-nav text-uppercase text-bold">
        <li class="active">
         <% if !current_user %>

              <% elsif current_user.admin? %>
              <%= link_to("管理员面板", admin_questions_path) %>

              <% elsif current_user.lawyer? %>

               <%= link_to("律师面板",lawyer_users_path) %>
              <% else %>
              <%= link_to("我的动态", account_questions_path) %>
          <% end %>

            </li>

        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right text-right-lg text-right-md hidden-sm hidden-xs">











        <li class="dropdown pull-right">

                      <% if !current_user %>

                    <li><%= link_to(content_tag(:i, '注册', class: 'fa fa-user-circle'), new_user_registration_path) %></li>


                     <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
                    <% else %>
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          你好，<% if current_user.user_name.present? %>
                          <%= current_user.user_name %>
                          <% else %>
                          <%= current_user.email %>
                          <% end %>
                          <b class="caret"></b>
                      </a>

                      <ul class="dropdown-menu">

                          <% if current_user.admin? %>
                          <li> <%= link_to(content_tag(:i, ' 管理员面板', class: 'fa fa-universal-access'), admin_questions_path ) %> </li>
                          <li> <%= link_to(content_tag(:i, ' 管理员中心', class: 'fa fa-users'), admin_users_path ) %> </li>

                          <% else %>
                          <li> <%= link_to(content_tag(:i, ' 我的动态', class: 'fa fa-user-secret'), account_questions_path ) %> </li>
                          <li> <%= link_to(content_tag(:i, ' 用户中心', class: 'fa fa-university'), account_users_path ) %> </li>
                          <li> <%= link_to(content_tag(:i, ' 支付中心', class: 'fa fa-paypal'), account_orders_path ) %> </li>
                          <% end %>
                          <% if current_user.lawyer? %>

                          <li> <%= link_to(content_tag(:i, ' 律师面板', class: 'fa fa-university'), lawyer_users_path ) %> </li>
                          <li> <%= link_to(content_tag(:i, ' 用户中心', class: 'fa fa-vcard'), lawyer_users_path ) %> </li>

                          <% end %>

                           <li> <%= link_to(content_tag(:i, ' 登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                      </ul>

                    </li>
                      <% end %>

          </ul>
        </li>




        <!-- 添加提醒系统 -->
        <div class="notificationIcon">
            <li id='btn-notification' type="button" class="btn  btn-secondary text-uppercase flat animation pull-right"
                    data-container="body" data-toggle="popover" data-placement="bottom"
                    data-content="

                    <!-- 插入的html触发码 -->
                    <% if @notifications.present? %>
                      <% @notifications.each do |n| %>
                        <p><%= n.actor.user_name %>回复了
                          <a href=<%= account_question_path(n.notifiable) %>><%= n.notifiable.content %></a>
                        </p>
                      <% end %>
                    <% else %>
                      <p>没有新的消息</p>
                    <% end %>

                    ">
                <i class="fa fa-bell-o fa-2x" aria-hidden="true">

                  <% if @notifications.present? %>
                    <kbd>
                    <%= @notifications.count %>
                    </kbd>
                  <% end %>

                </i>
            </li>
        </div>
        <!--  -->




      </ul>
    </div>
  <!-- Navbar Cat collapse Ends -->
  </div>
<!-- Nested Container Ends -->
</nav>









<script>
$(function (){
  // 绑定触发条件
  $("#btn-notification").popover({
            trigger:'click', //触发方式
            html: true, // 为true的话，data-content里就能放html代码了
        });

  // 标记已读
  $('#btn-notification').on('shown.bs.popover', function () {
        $.ajax({
        url: '<%= mark_as_read_notifications_path %>',
        type: 'POST',
        dataType: 'json',
        data: {'read': 'true'},
      })
      .done(function() {
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("complete");
      });
  })
  //




});
</script>
