<!DOCTYPE html>
<html>
    <head>
        <title>管理员中心——伴律网  </title>
       
        <%= favicon_link_tag %>
        <%= favicon_link_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png'%>

        <%= csrf_meta_tags %>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>




    </head>

    <body>

        <div class="content">
            <%= render "common/page_navbar" %>
            <%= render "common/flashes" %>
            <div class="row">
                <!-- 现有侧边栏 -->
                <div class="col-md-2  nav-sidebar side-block-2">
                  <h6></h6>
                  <ul class="list-unstyled list-links">
                    <li class="clearfix"><i class="fa  fa-fw fa-rocket" aria-hidden="true"></i><%= link_to(" 用户管理", admin_users_path )%></li>
                    <li class="clearfix"> <i class="fa  fa-fw fa fa-pencil-square-o" aria-hidden="true"></i><%= link_to(" 全部动态", admin_questions_path )%></li></li>
                    <li class="clearfix"> <i class="fa  fa-fw fa-paper-plane" aria-hidden="true"></i><%= link_to("  订单管理", admin_orders_path ) %></li>
                  </ul>
                </div>

                  <!-- 现有侧边栏 -->

                <!-- 内容 -->
                <div class="pageContainer content col-md-10">
                    <%= yield %>
                </div>
            </div>

        </div>


   <%= render "common/footer" %>
    </body>

</html>
