<!DOCTYPE html>
<html>
    <head>
        <title>Lawfirm </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row">
                <!-- 侧边栏 -->
                <div class="col-md-2 sidebar" >
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                      <li><%= link_to("全网用户管理", admin_users_path ) %> </li>
                      <li><%= link_to("所有客户问题", admin_questions_path ) %> </li>
                      <li class="disable"><%= link_to("检查合同", "#") %></li>



                    </ul>
                </div>
                <!-- 内容 -->
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>

        </div>


   <%= render "common/footer" %>
    </body>

</html>
