<!DOCTYPE html>
<html>
    <head class="page-row">
        <title>Lawfirm </title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="page-row page-row-expanded">
        <div>
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
          <!-- This is a temporary layout setting. Move it to layout/user,after controller accounts is created-->

          <%= yield %>
        </div>

        <%= render "common/footer" %>
    </body>
</html>
