<!DOCTYPE html>
<html>
    <head>
        <title>Lawfirm </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="http://o7m541j22.bkt.clouddn.com/jquery.raty.css">
        <script src="http://o7m541j22.bkt.clouddn.com/jquery.raty.js"></script>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row">

                <!-- 现有侧边栏 -->
                <div class="col-md-2  nav-sidebar side-block-2">
                  <h6></h6>
                  <ul class="list-unstyled list-links">
                    <li class="clearfix"> <span class="glyphicon glyphicon-comment"></span> <%= link_to("问题大厅", lawyer_questions_path(:order => "waiting_for_answer") ) %></li>
                    <li class="clearfix"> <span class="glyphicon glyphicon-ok-sign"></span> <%= link_to("历史问题", lawyer_questions_path(:order => "already_answered")  ) %></li>
                    <li class="clearfix"> <span class="glyphicon glyphicon-home"></span> <%= link_to("用户中心", lawyer_users_path ) %></li>
                  </ul>

                </div>
  <!-- 现有侧边栏 -->

                <!-- 内容 -->
                <div class="pageContainer col-md-10">
                    <%= yield %>
                </div>
            </div>

        </div>

        <%= render "common/footer" %>

    </body>
</html>
