<!DOCTYPE html>
<html>
    <head>
        <title>Lawfirm </title>
        <%= csrf_meta_tags %>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- <link rel="stylesheet" href="http://o7m541j22.bkt.clouddn.com/jquery.raty.css">
        <script src="http://o7m541j22.bkt.clouddn.com/jquery.raty.js"></script> -->
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/page_navbar" %>
            <%= render "common/flashes" %>
          <!-- This is a temporary layout setting. Move it to layout/user,after controller accounts is created -->
            <div class="row">
                <!-- 侧边栏 -->
                <div class="col-md-2  nav-sidebar side-block-2">
                  <h6></h6>
                  <ul class="list-unstyled list-links">
                    <li class="clearfix"><i class="fa  fa-fw fa-rocket" aria-hidden="true"></i><%= link_to("  用户动态", account_questions_path ) %></li>
                    <li class="clearfix"> <i class="fa  fa-fw fa fa-pencil-square-o" aria-hidden="true"></i> <%= link_to("  提出问题", new_account_question_path ) %></li></li>
                    <li class="clearfix"> <i class="fa  fa-fw fa-paper-plane" aria-hidden="true"></i> <%= link_to("  合同审核", new_document_account_questions_path ) %></li>
                    <li class="clearfix"> <%= link_to(content_tag(:i, '  支付中心', class: 'fa fa-paypal'), account_orders_path ) %> </li>
                    <!-- <li class="clearfix"> <%= link_to(content_tag(:i, ' 用户中心', class: 'fa fa-university'), account_users_path ) %> </li> -->

                  </ul>
                </div>


<!-- 侧边栏 -->



                <!-- 内容 -->
                <div class="pageContainer col-md-10">
                    <%= yield %>
                </div>
            </div>

        </div>


        </div>

        <%= render "common/footer" %>
    </body>
</html>
