<!DOCTYPE html>
<html>
    <head>
        <title>Lawfirm </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
          <!-- This is a temporary layout setting. Move it to layout/user,after controller accounts is created -->
            <div class="row">
                <!-- 侧边栏 -->
                <div class="col-md-2 sidebar" >
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                      <div class="container">
                      	<div class="col-sm-2">
                          <nav class="nav-sidebar">
                      		<ul class="nav tabs">

                            <li class="active"><%= link_to("用户动态", account_users_path ) %></li>
                            <li class="active"><%= link_to("提出问题", new_account_question_path ) %></li>
                            <li class="active"><%= link_to("合同审核", new_document_account_questions_path ) %></li>
                      		</ul>
                      	</nav>
                      </div>

                    </div>
                    </ul>
                </div>
                <!-- 内容 -->
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>

        </div>


        </div>

        <%= render "common/footer" %>

    </body>
</html>
