<!DOCTYPE html>
<html>
    <head>
        <title>Lawfirm </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
          <!-- This is a temporary layout setting. Move it to layout/user,after controller accounts is created -->
            <div class="row">
                <!-- 侧边栏 -->
                <div class="col-md-2 sidebar" >
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                      <li><%= link_to("用户资料管理","#") %></li>
                      <li><%= link_to("用户动态","#") %></li>
                      <li><%= link_to("我提出的问题", account_questions_path ) %> </li>
                      <li><%= link_to("提出新问题", new_account_question_path) %></li>
                      <li><%= link_to("我上传的合同", account_documents_path) %></li>
                      <li><%= link_to("上传新合同审核",new_account_document_path) %></li>

                    </ul>
                </div>
                <!-- 内容 -->
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>

        </div>


        </div>

        <%= render "common/footer" %>

    </body>
</html>
